[2020-12-27 14:23] gfldex opened #3 "missing fields in META6.json"
Please consider to add source-url or support.source to the meta file. A lack of upstream makes modules.raku.org and a few other tools unhappy.

[2020-12-27 16:07] #3 closed

[2021-01-05 04:07] melezhik opened #9 "Monkey-zef Permission denied error"
[code]

HTH

[2021-01-05 04:08] melezhik commented on #9
[code]

[2021-01-06 00:59] tony-o commented on #9
Ahh - interesting.  What is the output of `zef --help` ?

[2021-01-06 01:15] melezhik commented on #9
it's on my second comment

[2021-01-06 01:19] tony-o commented on #9
@melezhik zef, not fez - where does zef think its config is?

[2021-01-06 01:54] melezhik commented on #9
ah ... )))

[code]

[2021-01-06 02:04] tony-o commented on #9
Ah - definitely a permissions issue.  I think I'm holding up merging a fix for this that @patrickbkr has put together.  I'll review/get the fix out tomorrow.

[2021-01-06 10:28] patrickbkr commented on #9
@tony-o The PR I created fixes permission errors when writing the *fez* config (adding username and token). It doesn't address changing the *zef* config. The [zef documentation](https://github.com/ugexe/zef#how-the-configuration-file-is-chosen) has a paragraph on how the right config file is chosen including how it locates the user config file. From what I read in those docs:

- The quick and dirt

[2021-01-06 16:10] tony-o commented on #9
gotcha.  the way i'm doing it now is likely right.  it just uses zef's method of `%*ENV // guess-config-path`.  I've added a check for write permissions @melezhik - will push the fix today.

[2021-01-06 16:26] tony-o commented on #9
@melezhik #10 should give you a better error message, it can't fix the problem though.

[2021-01-06 17:27] JJ opened #11 "Failed installation under Rakudo 2020.12"
It's apparently downloading a GitHub web page:

[code]

I want to say this is an error in the ecosystem somewhere. Let me check it.

[2021-01-06 17:33] JJ commented on #11
It'll probably take up to two hours to re-index.

[2021-01-06 17:37] melezhik commented on #9
the error message is better now:

[code]

[2021-01-06 19:38] JJ commented on #11
OK, checked after re-indexing, and it works. Closing.

[2021-01-06 19:38] #11 closed

[2021-01-06 19:42] JJ opened #12 "No easy way to restore password"
Or actually, no way I'm aware of...

[2021-01-06 19:55] tony-o commented on #9
@melezhik you able to work with that?  the way zef is set up is unlike what @patrickbkr did with fez's where they cascade, with zef it's all or nothing -

[2021-01-06 20:07] melezhik commented on #9
I mean I just inform what I get on my env. Do you think it's a fez's bug or it's just a very specific zef configuration that I have on my server and we could just ignore it?

[2021-01-06 22:21] patrickbkr commented on #9
I just created [an issue](https://github.com/ugexe/zef/issues/384) for zef to provide a way to change / add a single configuration value as that indeed seems to not be implemented.

[2021-01-06 23:18] melezhik opened #13 "fez fails to install - Failed to open file ... No such file or directory"
Full log is available here - http://161.35.142.50/report/fez-test/24
[code]

I am not sure why it happens. Why I install fez first time, it successfully installed. Then I did `fez monkey-zef` and tried to install fez from git and now have this error ...

[2021-01-06 23:25] tony-o commented on #9
That may end up getting denied.  Either way nick is interested in merging the zef p6c stuff so he doesn't have to manage that trash anymore and then this should become a moot issue

[2021-01-06 23:26] tony-o commented on #13
My guess is you have a stale reference to Fez lurking in zef.  I found a problem with the way the paths were generated and just had to blow away a bit of p6c on the fez side.

[2021-01-06 23:37] melezhik commented on #13
it's all quite weird - https://gist.github.com/melezhik/2bfea47bdb6cd7b86246d77f0d227eeb
it happens immediately after successful install

[2021-01-06 23:44] melezhik commented on #13
it also affects fez behavior:

[code]

[2021-01-07 19:55] tony-o commented on #12
There isn't.  This is in the works

[2021-01-07 23:43] tony-o commented on #12
I'll get a password reset going tomorrow. The APIs are in place.

[2021-01-08 16:36] tony-o commented on #12
This is implemented with af1093e43fcd503287516fe8f69248ca70fc16db b39cef51000d110822ebda7be2d173e87b37788a and e903d4b26ac9261d0ce40a6ba187f94f04ea3305

[2021-01-08 16:36] #12 closed

[2021-01-08 16:41] tony-o commented on #13
Does that happen with other modules?  That's a weird bug, that you can't force install it after it's installed

[2021-01-08 16:42] melezhik commented on #13
I need to check, but looks like it only happens to fez ...

[2021-01-08 17:17] melezhik commented on #13
even this:

[code]

I continue to investigate ...

[2021-01-08 17:34] melezhik commented on #13
this is also reproducible even with system zef ( I removed zef that installed for `sparky` user  ) installed into `/opt/rakudo-pkg/bin/zef`. The funny thing the error message we see in the end does not mean zef does successfully install fez, indeed it does!

[code]

[2021-01-08 17:35] melezhik commented on #13
but it does not really help, as we end up having broken fez:

[code]

[2021-01-08 17:38] melezhik commented on #13
another (relevant?) error:

[code]

weird ... 🤔 ...

[2021-01-08 17:49] JJ commented on #12
Great job. Waiting for the bumped-up version to test it.

[2021-01-08 20:28] tony-o commented on #12
@JJ - e903d4b bumped the version to `3` : )

[2021-01-08 20:30] tony-o commented on #13
do a git pull and make sure you're on master please - that checkout looks like it's caught between commits

[2021-01-08 20:33] melezhik commented on #13
it actually, does, it's Sparky SCM triggering 😄  - http://161.35.142.50/project/fez-test , but I can always trigger manually, also Sparky logs even shows a commit and  commit message ...

[2021-01-08 20:33] melezhik commented on #13
I am going to remove cache directory and start from the scratch ...

[2021-01-08 20:36] melezhik commented on #13
hm ... the same error after remove a cache dir and starting from the scratch - http://161.35.142.50/report/fez-test/195

[2021-01-08 20:39] melezhik commented on #13
do the same manually:

[code]

[2021-01-08 20:44] melezhik commented on #13
my only guess is for some reasons this piece of code is not installable (by zef?)

[code]

[2021-01-08 20:46] melezhik commented on #13
wait ... however:

[code]

[2021-01-08 20:48] melezhik commented on #13
maybe silly thoughts, but could it be that just `zef`  install  dependencies in wrong path, so they are not resolved by rakudo ?

[2021-01-08 20:51] melezhik commented on #13
btw I don't see any definition of `write-config` in fez source code ...

[2021-01-08 20:53] melezhik commented on #13
However I do see  `write-to-user-config` in lib/Fez/Util/Config.rakumod

[code]

[2021-01-08 21:34] melezhik commented on #13
fixed on Sparky - http://161.35.142.50/report/fez-test/196

[2021-01-08 21:37] melezhik commented on #13
second manual build for the same commit also succeeds - http://161.35.142.50/report/fez-test/197

[2021-01-08 21:42] tony-o commented on #13
I'll close the issue with that build pass

[2021-01-08 21:42] #13 closed

[2021-01-12 00:02] melezhik opened #14 "fez upload doc is incomplete?"
Should fez mention that `--file` is required parameter?

[code]

However:
[code]

HTH

Aleksei

[2021-01-12 14:40] thibaultduponchelle opened #16 "fez version ?"
Maybe I missed it but if not could you please add a `version` argument to `fez` ?

Thank you :smiley:

[2021-01-12 14:42] thibaultduponchelle opened #17 "fez meta with empty email returns error 400"
When running `fez meta` with empty email, it returns an error 400:
[code]

Could this returns more *gracefully* ?

[2021-01-12 16:54] tony-o commented on #17
I'll get it out today.

[2021-01-12 16:56] thibaultduponchelle commented on #17
Great thank you in advance !

[2021-01-12 17:07] tony-o commented on #14
File specifies a tar.gz - specifying the file assumes this and doesn't check the auth. The error you're seeing is because the auth in the meta doesn't match the user you're logged in with

[2021-01-12 17:12] melezhik commented on #14
So, `--file` should specify a path to tarball or to META?

[2021-01-12 18:38] tony-o commented on #16
Closing this - implemented with 1e07715 `fez -v`

[2021-01-12 18:38] #16 closed

[2021-01-12 18:39] tony-o commented on #17
This should be a little more graceful with version 7 - 1e07715

[2021-01-12 18:39] #17 closed

[2021-01-12 18:40] tony-o commented on #14
should point to a tar.gz -

[2021-01-12 18:46] tony-o commented on #9
Going to close this as a file permissions issue and not actually an issue with fez unless you object (please reopen if you do)

[2021-01-12 18:46] #9 closed

[2021-01-12 19:05] melezhik commented on #14
why in that case it works when I point it to a META.json file?

On Tue, Jan 12, 2021, 12:40 PM tony-o <notifications@github.com> wrote:

[2021-01-12 21:46] thibaultduponchelle commented on #17
Great thank you 🙏

[2021-01-12 21:47] thibaultduponchelle commented on #16
Thank you a lot 👍

[2021-01-12 21:56] tony-o commented on #14
It doesn't run a checkbuild against a specified files, (line 239 in Fez::CLI)

[2021-01-24 11:04] p6steve opened #19 "=<< auth should start with "zef:""
Trying fez for the first time... getting this error...
fez upload
=<< auth should start with "zef:"

(Re)login is successful

Please can you help?

My kit:
macOS Catalina 10.15.7

Welcome to 𝐑𝐚𝐤𝐮𝐝𝐨™ v2020.10.
Implementing the 𝐑𝐚𝐤𝐮™ programming language v6.d.
Built on MoarVM version 2020.10.

[2021-01-25 07:49] patrickbkr commented on #19
fez verifies, that the ecosystem stated in the `META6.json` filematches the one you are uploading to: "zef". Can you verify the `auth` field in your `META6.json` actually starts with "zef:"?

[2021-01-25 09:30] p6steve commented on #19
Thanks for the response. I have now changed my META6.json line to
```4     "auth" : "zef:p6steve",```

Then I get this error...
[code]

And an email to contradict that ```Meta error: "auth" must be zef:```

[2021-01-25 16:53] tony-o commented on #19
Hey @p6steve likely what is happening is that fez runs `git archive` and git archives what's commited (and not actually what you're seeing).  I'm working on a pure raku fix for this but in the mean time the easiest way to get around that is to commit that meta to your repo and then re run the upload.

[2021-01-25 17:28] p6steve commented on #19
Well, I have double checked and I'm sure that this change is committed and synched to git remote. Slightly different email reply (so I bumped from v1.1.3 to 1.1.4)...
```Meta error: this dist version already exists, did you forget to bump the version?```
and, still get wget error on my command line
[code]

[2021-01-25 18:40] tony-o commented on #19
I'll take a look at the wget error - that should be a little nicer in the output.

It does look like maybe the META wasn't pushed - i see the timestamp on 2c0e0bd662da9ca54f01b53eb11b8a96b9e8fc11 is after my response so that was likely that issue (and I see `Physics::Unit:ver<1.1.(3|4)>` in the eco).

Which version of wget and OS are you using?  Fez would run something like this for that upload on

[2021-01-25 19:31] p6steve commented on #19
GNU Wget 1.20.3 built on darwin19.0.0.

My kit:
macOS Catalina 10.15.7

Welcome to 𝐑𝐚𝐤𝐮𝐝𝐨™ v2020.10.
Implementing the 𝐑𝐚𝐤𝐮™ programming language v6.d.
Built on MoarVM version 2020.10.

[2021-01-25 19:41] p6steve commented on #19
Just bumped my wget to this - similar error ...
GNU Wget 1.21 built on darwin19.6.0.

[2021-01-25 21:29] patrickbkr commented on #19
I think the wget error is not harmful. IIUC it's part of a test whether the version to upload already exists in the ecosystem. Should the download fail the dist isn't there yet. It's just that the error message of the failed download is not suppressed. [This is the respective code.](https://github.com/tony-o/raku-fez/blob/master/lib/Fez/CLI.rakumod#L120-L130)

[2021-01-27 00:25] tony-o commented on #19
this should be a little nicer looking with the two patches mentioned here @p6steve

[2021-01-27 00:43] tony-o commented on #14
@melezhik hope you're still around and bangin on FOSS - I'm closing this with version 11 (2da8229e38bc66ce01a2d148a783e08a5e6fa92c) implements this check against tar files.

[2021-01-27 00:43] #14 closed

[2021-01-27 00:45] tony-o commented on #19
Most recent update includes better checking for things like this issue too.  Upgrade to version 11 for a better experience on the checkbuild (which is called when you `upload`)

[2021-01-27 15:39] JJ opened #21 "We need a few tests"
As well as setting up a CI infraestructure.

[2021-01-27 16:31] #19 closed

[2021-01-27 22:38] tony-o commented on #21
7dc451400607675394dda46bb6029a96e24292c5 has a few - working on something a little more involved

[2021-01-28 19:30] p6steve commented on #19
yep - that's real clean - THANKS!!

fez upload

=<< File "resources/" in meta<resources> not found in tar

[2021-01-28 19:33] p6steve opened #22 "Test fail at t/02-checkbuild.t line 7"
thought you may like to know... seems to work fine with force-test

zef --verbose upgrade fez --force-test
===> Searching for: fez
===> Found: fez:ver<14>:auth<zef:tony-o>:api<0> [via Zef::Repository::LocalCache]
The following distributions will be upgraded: fez:ver<14>:auth<zef:tony-o>:api<0>
===> Updating: fez:ver<14>:auth<zef:tony-o>:api<0>
===> Testing: fez:ver<14>:auth<zef:tony-o>:api<0>
[fez

[2021-02-06 08:19] skaji opened #23 "`fez --file=dist.tar.gz upload` ignores dist.tar.gz"
To upload `dist.tar.gz` which was generated by myself, I tried
[code]

But it seems that fez ignores `dist.tar.gz`, and upload a new tarball created by fez (https://github.com/tony-o/raku-fez/blob/master/lib/Fez/CLI.rakumod#L282).
Is this intentional?

I want to specify a tarball because the tarballs created by fez (i.e.,`git archive`) contain all files in git repositories, some of which are not n

[2021-02-07 01:25] skaji opened #24 "Tarballs created by Fez::Util::Tar contains unnecessary files"
Tarballs created by Fez::Util::Tar contains unnecessary files.

## Steps to reproduce this issue

[code]
As you can see, the tarball contains precomp files and even itself (`./sdist/dtdkFTLk.tar.gz`).

[2021-02-13 09:03] p6steve commented on #22
This error is now gone - thanks!

[2021-02-13 09:03] #22 closed

[2021-02-13 09:06] p6steve opened #25 "Link recent blog posts on README"
I found your recent blog posts very helpful to understand what is going on with fez - and, in particular that the module list resides at raku.land.

I suggest that these are added to the README.
https://deathbyperl6.com/fez-zef-a-raku-ecosystem-and-auth/
https://deathbyperl6.com/faq-zef-ecosystem/

[2021-02-13 09:17] p6steve opened #26 "Module wrong version via zef info"
Before I delete my module(s) from cpan, I'd like to know that this will not drop them from the zef installer

After bumping the version, using fez, and wait 12+ hours Physics::Unit shows v1.1.5 on https://raku.land/?q=unit
https://github.com/p6steve/raku-Physics-Unit/

But zef info still gives me v1.1.3 ...
[code]

My zef / raku came with...
Welcome to 𝐑𝐚𝐤𝐮𝐝𝐨™ v2020.10.
Implementing the 𝐑𝐚𝐤𝐮™ prog

[2021-02-14 22:42] patrickbkr commented on #26
Your zef doesn't yet know about the fez ecosystem since zef only gained fez support in version [0.11.0](https://github.com/ugexe/zef/commit/04951c79f5884ec823167d2e4944a52e39ca0f83). So a `zef upgrade zef` should fix the problem.

[2021-02-15 09:13] p6steve commented on #26
Aha! That explains that then. Many thanks!!

[2021-02-15 09:13] #26 closed

[2021-02-18 22:20] tony-o commented on #23
@skaji this is a bug.  I'll check out a fix for it.  FWIW git archive should respect your .gitignore so if you have that set up.

[2021-02-18 22:24] tony-o commented on #24
Removing the .git directory will cause fez to not try git archive which respects your .gitignore.  I don't think this is a bug but there should be a better way to only include what the dist needs.  Maybe only including what's mentioned in the META but I don't know.

[2021-02-18 23:39] tony-o commented on #25
this is addressed with 75c61a2 -

[2021-02-18 23:40] tony-o commented on #24
75c61a2 addresses this @skaji - please update (version 18) and try this again.  you should not end up with any dotfiles in the tar.

[2021-02-18 23:54] tony-o commented on #23
@skaji should be fixed in version 20.  please give it a shot

[2021-02-19 00:00] tony-o commented on #21
Going to close this as it has a few more tests now -

[2021-02-19 00:00] #21 closed

[2021-02-19 08:16] patrickbkr commented on #24
Ignoring dotfiles is a quick fix and ok for now.

I think we need a more formal way to ignore files (or maybe better: include files).
I think somehow encoding which files to include or exclude in `META6.json` is better than inventing a custom `.distignore`. The plethora of files that control the dist building process in Perl has put me off.

It's not just `lib/` and `resources/` though. There can

[2021-02-19 10:05] #24 closed

[2021-02-19 10:05] #23 closed

[2021-02-19 10:05] skaji commented on #23
@tony-o Thank you. Now it works.

[2021-02-19 10:06] skaji commented on #24
@tony-o Thanks. I don't see `sdist/` in tarball anymore.

[2021-02-20 00:34] tony-o commented on #24
@patrickbkr @skaji there is spec'd way to handle dist manifests and there likely shouldn't be.  CPAN will accept any ol' tar you toss at it.  Zef is a lot more picky. It's difficult to find the right balance between them.  Having been playing with lein, npm, pypi, cabal, etc - perl and cabal are the only nice-ish ones to use.  Python's package management is awful and convoluted, lein is like cabal

[2021-02-22 00:29] vrurg opened #28 "Removal of a package"
I can't find a way to remove accidentally uploaded module version from the ecosystem. Even though `Cro::RPC::JSON` 0.1.904 has `production: false` in its META, zef upgrades to the version implicitly.

[2021-02-22 22:16] tony-o commented on #28
Thinking through this.  We already have a lot of issues reported where people can't install modules because something happened in p6c `user removed their dist|user renamed a dist|user broke some piece of the dist off into its own dist and now the dependency doesn't find the new dist because it's provided by what's installed`.  There's more.  I'm wondering if maybe patching a dist should be allowed

[2021-02-23 01:13] vrurg commented on #28
https://design.raku.org/S22.html#production

Perhaps fez should give a BIG warning if the key is present and it is `false`.

Talking about my case, I have accidentally published a version from development branch which number actually obsoletes any production version on the same branch. I.e. dev numbers in my model are `x.y.9xx`, and production are `x.y.[1..899]`. So, I effectively disabled the who

[2021-02-23 01:28] skaji opened #29 "Migrating to zef ecosystem"
Let's say I have `ModuleX:auth<cpan:SKAJI>` in cpan ecosystem and
I plan to switch it to be in zef ecosystem
so that `zef install ModuleX` will install `ModuleX:auth<zef:skaji>` instead of `ModuleX:auth<cpan:SKAJI>`.

What is the best way to switch ecosystems?

[2021-02-23 16:32] tony-o commented on #28
That is technically a pretty good point - i'll manually remove that module for now and implement the warning on the client side.  Fez only looks at the dist info (of which `production` isn't).  It's going to take me a little bit to figure out dependency chaining to ensure no deps are broken by removal.

[2021-02-23 19:10] vrurg commented on #28
Turns out I overlooked the fact the the dev version was actually in the `LocalCache`. I confused it up with a neighbor version from `Zef::Repository::Ecosystems<fez>`. Anyway, the mistake has led to a good discussion. :)

[2021-02-23 22:23] tony-o commented on #28
@vrurg - i'm on the fence about `time` vs `dependency`. otoh you can be reasonably sure no one has pinned a module within an hour but you can't be reasonably sure you're not removing a module that broke backcompat.

[2021-02-24 03:21] tony-o commented on #29
One option is to specify the auth when installing/depending.

Another option is removing those modules from CPAN after they're uploaded with fez and then zef will only find them with your `zef:` auth.

Yet another option is bumping the version and only releasing it to `zef:` auth (then zef _should_ pick the highest version available, I haven't tested this and might be misremembering).  This would

[2021-02-24 03:21] #25 closed

[2021-02-25 05:07] skaji commented on #29
@tony-o Thank you.
I will look into zef source code.

[2021-02-25 21:27] vrurg commented on #28
I tried to think over it, but not sure I consider all possible options. First of all, I'm not sure that ecosystem must maintain integrity by disallowing module removal. There're too many other ways to break things down and wether is makes sense to try to block one of them is still not clear to me.

Yet, what if a severe security issue has been discovered in a module? Releasing a fix and removing t

[2021-02-26 11:59] skaji commented on #29
You're right. I'll make a release with higher version.

[2021-02-26 11:59] #29 closed

[2021-03-02 08:43] patrickbkr commented on #24
Above I wrote, that I'd add the "specifying files in META6.json" thing to my todo list. I realize that I won't look into this in the near or not so near future (many many things higher on the todo list). So if anyone is willing to push this further, please do!

[2021-03-04 00:55] japhb opened #31 "fez did not include depends info when indexing"
Uploaded `MUGS::Core:ver<0.0.3>:auth<zef:japhb>` via `fez upload`, and it soon appeared for zef (nice!).  Unfortunately dists that depend on it were failing tests because zef wouldn't install any of its dependencies.  A bit of searching later:

[code]

Note that last line, showing no depends entries.  But here's the first few lines of the `META6.json` from that dist:

[code]

Clearly a significant

[2021-03-04 17:32] tony-o commented on #31
This should be fixed with a whole slew of backend changes made last night. Confirmed with you in IRC that it's showing correctly now -

[2021-03-05 18:15] tony-o commented on #28
@vrurg branch `eco_rmdist` introduces a way to remove a dist from the ecosystem.  currently doing some testing and the rules around it right now are: `must be removed within 24 hours of upload`.

[2021-03-05 21:46] tony-o commented on #28
This feature is introduced with
d39800a

[2021-03-06 22:05] vrurg commented on #28
I better avoid testing the feature these days. So, if anything pops up in the real life – I'll report with a new issue.

BTW, support for `production` key will is likely to be even more useful for me.

Thank you!

[2021-03-08 16:50] tony-o commented on #28
@vrurg ive been chatting with nick about how tiers or some other way of managing strict vs not strict auths could work and support for auths will likely come with that. Once that’s in place it’ll also lend itself to hosted dark ecos

[2021-03-11 18:35] #31 closed

[2021-03-11 18:36] #28 closed

[2021-04-01 20:17] Altai-man opened #33 "Explain sdist directory presence in docs or somehow clarify it"
Hi. I am in the middle of migration my modules to the fez ecosystem (the zef ecosystem?).

I am taking my module, patching `auth` field, doing `fez checkbuild` and making sure it's ok and then doing `fez upload`. So far everything goes smoothly.

However for the every repo I have there is now a `sdist` directory with a tar inside. If I did something wrong and re-run `fez upload`, I got two tar arc

[2021-04-08 14:31] vrurg opened #34 "Removal of a package: episode #2"
Yesterday I messed up with publishing `Test::Async`. No idea what's went wrong, but it contained a test from previous release. Ok, s* happens. But then, today, well withing the 24hr window, I tried:

[code]

And it came back with an email:

[code]

It done so twice, hence I'd rather not assume a temporary failure.

[2021-04-08 15:12] tbrowder opened #35 "FAQ suggestions"
As a Raku module author with my several modules published only on CPAN with App::Mi6,  I am very anxious to move my modules to the long-awaited Raku-only repository. Given that, I need answers to the following questions:

+ If I publish a module to fez, do I have to remove it from CPAN?
+ Given the same module on CPAN and fez (same version and author) which will be installed by default by zef?

[2021-04-12 01:52] tony-o commented on #34
@vrurg I'll take a look in the ante meridiem, that definitely is an error somewhere!  Thank you for the bug report

[2021-04-12 01:57] tony-o commented on #33
Hi @Altai-man,

tl;dr: add `sdist/` to your root .gitignore file

the sdist directory is likely being included because it's using a `git` command that obeys the .gitignore file.  I'd recommend adding `sdist/` to your root .gitignore.  The native `tar` will automatically ignore any directory/file starting with a `.` and the `sdist/` dir.

I'll add this to the README.

[2021-04-12 02:01] tony-o commented on #35
1. You do not need to remove the module from CPAN.  If you release the same version to both ecosystems then it's kind of a crapshoot which will be chosen.
2. zef will pick the highest version first.  after that it's kind of a chance for either.

There is some talk about prioritizing _strict_ ecosystems for choosing modules and falling back to less strict ecosystems (like CPAN and, currently, P6C).

[2021-04-12 10:15] Altai-man commented on #33
Still if it's something fez creates (directly or not) it should be taken care of by fez (or at least have an option to). If it is not usable for the user most of the time, a flag enabling removal of the directory will be really neat to have.

[2021-04-12 10:36] tbrowder commented on #35
Thanks, that's very helpful. I'm going to try adding some old versions when I get a chance.

[2021-04-12 16:28] tony-o commented on #35
Gonna re-open so I have a to-do, thank you @tbrowder +1

[2021-04-13 17:00] tony-o commented on #34
@vrurg found the bug.  It's been fixed and this should work in the future

[2021-04-13 17:23] #35 closed

[2021-04-13 17:23] tony-o commented on #33
Hi @Altai-man - this is in the readme now

[2021-04-13 17:23] #33 closed

[2021-04-13 17:34] tony-o commented on #33
Testing changes to clean up sdist automatically _only when_ no `--file` is specified

[2021-04-13 17:50] tony-o commented on #33
@Altai-man the sdist dir is automatically cleaned up in fez:ver<26+> -

[2021-04-13 18:07] Altai-man commented on #33
Thank you very much!

[2021-04-23 16:37] #34 closed

[2021-04-25 08:45] andinus opened #36 "Install fails on OpenBSD"
`zef install fez` fails on OpenBSD with:

[code]

I have both `git` & `tar` in my `$PATH`.

[code]

[2021-04-26 20:46] tony-o commented on #36
The tar thing is curious.  Do you have `gzip` in your path too (git relies on it for archiving).

[2021-04-27 04:16] andinus commented on #36
Yes, `gzip` is in `$PATH`.

[code]

[2021-04-27 04:26] andinus commented on #36
From what I understand, `Fez::Util::Tar` will fail with `.able` call.

[code]

Not sure why `Fez::Util::Git` fails.

[2021-04-27 05:18] tony-o commented on #36
Gotcha - taking me a few to get an openbsd box configured with that new of a raku (newest I'm seeing is 2018 via pkg).  After that we'll get to the bottom of it

[2021-04-28 01:24] vrurg opened #37 "Allow production key to be optional for checkbuild"
I'd very much appreciate if `checkbuild` get `--ignore-production` option. The problem is that my current workflow for a module includes a `release` stage which would do everything what must be done prior to uploading, except for the actual upload. This way I ensure that my beta branch is ready for production. But the beta branch is also the one to have `production => False` and I most certainly d

[2021-04-28 18:53] tony-o commented on #36
I'm having trouble replicating this issue on a new openbsd install (6.8).

I'm imagining that `Tar` is failing looking for the `-z` flag on standard tar instead of gnu.  Can you tell me what the output of this is with and without the following patch?

[code]

[code]

[2021-04-29 07:57] andinus commented on #36
[code]

This patch fixes it.

[2021-04-29 08:24] andinus opened #38 "Upload fails on OpenBSD"
I tried uploading a module after applying https://github.com/tony-o/raku-fez/issues/36#issuecomment-828699340.

Upload fails with:
[code]

`META6.json` is present in the file:
[code]

`checkbuild` here tries extracting the archive with `tar x0f`: https://github.com/tony-o/raku-fez/blob/6051f281ad83d5145fb50da0fb2ec8b2dcc0b6c1/lib/Fez/CLI.rakumod#L109

[code]

Adding `z` should fix this:

[code]

[2021-04-29 22:16] tony-o commented on #36
@andinus before i publish version 27 of fez - can you verify that what's in master right now fixes this issue on your side?

[2021-05-01 10:40] andinus commented on #36
Yes, it installs after this fix.

[2021-05-04 15:05] tony-o commented on #38
I need to test this fix on OSX and it should be good to go

[2021-05-06 14:29] tony-o commented on #38
@andinus this should be fixed, pushing it right now

[2021-05-06 14:31] tony-o commented on #37
Added the flag `--development` which skips the production key check

[2021-05-06 14:37] tony-o commented on #38
No idea why this keeps getting closed.

[2021-05-06 17:50] patrickbkr commented on #38
tony-o: Merging a PR or pushing a commit with the message containing "fix[es]? #some_number" triggers GitHub to automatically close the respective issue.

[2021-05-06 19:12] tony-o commented on #38
The first one I understood, the second one I'm unsure

[2021-05-07 09:56] andinus commented on #38
It still fails to find `META6.json`.
[code]

[2021-05-10 21:19] #37 closed

[2021-05-10 21:26] tony-o commented on #38
Looking at this it seems to an issue with openbsd's tar, @andinus i'm not as familiar with openbsd - is there a way to cat a file from the archive directly with tar?

https://unix.stackexchange.com/a/394131

[2021-05-11 00:30] tony-o commented on #38
In the meantime you should be able to `upload anyway` and you'll get an email about _what_ fails in that package if it can't be indexed

[2021-05-16 20:07] tony-o commented on #38
Seem like a reasonable compromise to suggest a skip if BSD and no gtar found?

[2021-05-19 16:08] andinus commented on #38
I would say yes. Does fez check for files before the archive creation? If so, then we're just trusting `bsdtar` to return correct exit code, if it returns 0 - we assume files are present in the archive & skip the check.

[2021-06-10 03:39] stuart-little opened #39 "confusingly claims not to find provided binary"
I've uploaded [this](https://github.com/stuart-little/RakuRename), and the upload [went through](https://modules.raku.org/dist/RakuRename:zef:zef:stuart-little) fine. However, running `fez upload` in the git repo does complain:
[code]
This is because going on [another example](https://github.com/hankache/Acme-Cow/blob/6dd40f29b2dd91e87606245989d21b59f758bac8/META6.json#L9) (since I'm new to `zef`

[2021-06-10 11:22] stuart-little commented on #39
Specifically, this modification silenced the error for this particular distro:
[code]
I can think of fancier things (e.g. checking whether the file under `bin/` is executable), but would something like this make for a reasonable PR?

[2021-06-17 17:14] tony-o commented on #39
Fez shouldn't be looking in the bin/ dir for files at all, if they're there then they're there but there's nothing in the META that should indicate that.  I'll take a look -

[2021-06-17 20:18] stuart-little commented on #39
Thanks for the help!

OK, it currently isn't (looking). My proposed alteration would have it look there, but I take it that's not desirable.

I see. If that's so, I misunderstood: I thought, based on [this other](https://github.com/hankache/Acme-Cow/blob/6dd40f29b2dd91e87606245989d21b59f758bac8/META6.json#L9) example, that `provides` should mention both `lib` *and* `bin` files. Are you saying it's

[2021-06-18 15:32] tony-o commented on #39
@stuart-little yes that's correct, `provides` is used for anything intended to be `use`d.  Because it's not described in the META I don't think it's right to check for anything in the bin dir.

For reference I'd use fez's or zef's META as a reference and both contain modules & bins, there's a lot of messy METAs out there that just happen to work.  Fez client should burp out an error for the META y

[2021-06-18 15:44] stuart-little commented on #39
I see, thanks for confirming!

Yep, got it. I see now that the issue was my misunderstanding what `META6` should `provide`. This is not a `fez` issue at all, so I'd say it's safe to close it.

Thanks again!

[2021-06-18 21:23] #39 closed

[2021-06-28 17:15] tbrowder opened #40 "Add feature to show all fez info on a logged-in user"
As a new user, I would like to be able see all the data on me that fes uses. I see no way to do that without stepping through 'fez meat'.

Also, the config JSON file only shows my user name (and key), when I believe it should show all except the password.

I'm particularly concerned about identity in published modules: is that somthing that can be changed too easily?

[2021-06-28 17:19] tbrowder opened #41 "Add information on the module identity for an author"
+ What are the valid author-defining keys?
+ Can they be changed for an author's account?
+ How can an author using App::Mi6 convert the module to become a Fez module?

[2021-07-08 00:17] tony-o commented on #41
1.  iirc you mean the author meta info, you can choose to not set anything - just hit enter through it.
2. To change this info run `fez meta`
3. I'm unfamiliar with Mi6 other than it exists.  There is a PR open to integrate with fez here https://github.com/skaji/mi6/pull/122

[2021-07-08 00:18] tony-o commented on #40
Your identity stored in modules remains in the modules.  Fez does no dist meta management, whatever is in the file that gets uploaded remains there.  The meta you set with `fez meta` is used on things like raku.land and your dists remain untouched even after you run `fez meta`.

[2021-07-11 18:14] melezhik opened #42 "fez checkbuild fails on Tomtit"
[code]
---

However:

[code]

[2021-07-12 20:27] coke opened #43 "Fail uploads with bad META6.json"
Would be nice if fez stopped users from uploading distros with bad META6.json files.

[2021-08-02 23:04] tony-o commented on #42
What does your META actually look like?

[2021-08-02 23:04] tony-o commented on #43
It soft stops you, until there is a pure raku implementation of gzip it's more harmful to flat disallow uploading

[2021-08-02 23:04] #41 closed

[2021-08-02 23:05] #40 closed

[2021-08-02 23:06] melezhik commented on #42
hi Tony! i guess it is here - https://github.com/melezhik/Tomtit/blob/master/META6.json

[2021-08-06 18:49] tony-o commented on #42
@melezhik you have that file listed twice in your META - this is a bug in fez but you should consider removing the dupe too.

[2021-08-06 18:54] tony-o commented on #42
Fixed with b0737b9

[2021-08-06 19:16] melezhik commented on #42
Thanks @tony-o

[2021-08-07 18:59] bbkr opened #44 "Do you have plans to free developers from doing publishing twice?"
Hi

What I do not like about CPAN (or any other ecosystem tool in general) is the fact that I have to do publishing twice. If I pushed some code to repo and tagged it **I've already published my work**. Both CPAN and FEZ force me to do additional step and do something related to specific ecosystem manager.

Can this be simplified in FEZ? Like for example developer can install GitHub action in repo

[2021-08-09 15:46] Scimon opened #45 "Password Reset link marked as spam"
This is in Gmail which is saying :

[code]
Message headers :

[code]

SPF and DKIM are passing. You may have to poke Google... sigh.

[2021-08-09 20:01] #42 closed

[2021-08-09 20:12] tony-o commented on #45
Booooo.  I've emailed google (and chatting with them was not helpful).

[2021-08-09 20:45] Scimon commented on #45
Ah well. Good luck with it.

Did my first fez upload today which went well.

[2021-08-09 22:05] tony-o commented on #45
Excellent news!

Thank you for letting me know about the gmail being marked as spam.

[2021-08-09 22:07] tony-o commented on #44
@bbkr I can do a write up on how to do this with GH Actions or CircleCI.  I currently have a nightly docker doing this using CircleCI but a write up specific to Fez might be more helpful -

[2021-11-03 14:58] #45 closed

[2021-11-03 17:58] andinus commented on #38
I recall this working on OpenBSD earlier but now it exits without prompting for `Upload anyway`:

[code]

Symlinking `gtar` to `tar` fixes this.

[2021-12-02 22:11] jaffa4 opened #46 "Windows 10.. problem"
D:\>zef install fez
===> Searching for: fez
===> Testing: fez:ver<31>:auth<zef:tony-o>:api<0>
[fez] # Failed test 'Fez::Util::Config module can be use-d ok'
[fez] # at t\00-use.t line 21
[fez] # Failed to open file C:\Users\Márton\AppData\Roaming\fez\fez-config.json: No such file or directory
[fez] # Failed test 'Fez::CLI module can be use-d ok'
[fez] # at t\00-use.t line 21
[fez] # ===SORRY!=== E

[2021-12-03 11:00] tbrowder opened #47 "Add to FAQ information on the JSON file containing fez data for user reference"
For instance, on Debian at least, I see file ".fez-config.json" in my home directory. Its sanitized contents are:

    {"key":"abc12345555556677654445","un":"fezuser"}

This might be useful for **App::Mi6** users.

[2021-12-04 18:25] tbrowder opened #48 "Fez username format is not consistent between the config file, fez documentation, and App::Mi6"
App::Mi6:ver<2.0.1> expects the fez username in the fez config file to be "zef:username" but fez doesn't add the prefix there.

[2021-12-04 21:03] tbrowder commented on #48
My error, I forgot to remove my old auth line in the main module file.

[2021-12-04 21:03] #48 closed

[2021-12-04 21:45] tbrowder opened #49 "Release TGZ file has problems being read by fez when used by App::Mi6"
Note this identical issue has been filed with both fez and App::Mi6.

[code]

Don't know if this is an App::Mi6 failure or fez failure. Here is the script output:

[code]

[2021-12-05 12:10] tbrowder commented on #49
I just ran a test of fez upload without using mi6. I tried using:
    fez upload --file=Foo.tar.gz

and

    fez upload --File=Foo.tar

In both cases, the same error as in the output shown in the initial comment.

Also in both cases, answering N would **NOT** break the answer loop.

[2021-12-05 18:37] tbrowder commented on #49
I would attempt to submit a PR but my level of Raku syntax knowledge is far below what I see here!

[2021-12-06 00:04] tbrowder commented on #49
I just found I was using an older version of fez. An upgrade to 31 has solved the problem.

[2021-12-06 00:04] #49 closed

[2021-12-06 12:50] tbrowder commented on #47
I'm closing this. My next Raku advent article will be on using mi6 and fez and the Zef repository. Hopefully some of it can be used in your FAQ or other parts of your README.

[2021-12-06 12:50] #47 closed

[2021-12-06 18:10] tony-o commented on #46
Will get a fix out this week -

[2021-12-06 18:12] tony-o commented on #47
100% will add your article to the README FAQ

[2021-12-07 08:36] jaffa4 commented on #46
I guess the reason is.. accented charaters in directory path...

[2021-12-11 00:43] tony-o commented on #46
@jaffa4 I have a sneaking suspicion that the dir doesn't exist, can you create directory `C:\Users\Márton\AppData\Roaming\fez\` and then try running the install again?  If this fixes the issue then I patch fez so it shouldn't be necessary to mkdir anymore

[2021-12-11 21:45] codesections opened #50 "Could fez support a quorum for module updates?"
Would it be possible for fez to support a quorum system that requires authorization from multiple people before a new module version can be uploaded to the ecosystem?

I'm asking about this for two reasons: first, in recent discussions about my [`_`](https://github.com/codesections/_) module, a [couple](https://news.ycombinator.com/item?id=29522863) of [people](https://www.reddit.com/r/Programming

[2021-12-13 18:22] tony-o commented on #50
Hey @codesections, it would be possible to have some sort of review mechanism.  I'm thinking there's a few ways to cascade rules into that.  Things to note, currently there's only two roles (admin, user).  What are your thoughts on the following?

1. Admins can always release modules, regardless of quorum
2. Add a release manager role, responsible for approving releases
3. How would a group admin

[2021-12-21 05:22] ohmycloud commented on #46
After I create directory: ` C:\Users\myusername\AppData\Roaming\fez`, and use `zef test .`, It fails:

    [fez] # Failed test 'provides 1:1 files in lib'
    [fez] # at t\00-use.t line 28
    [fez] # You failed 1 test of 14

It seems this line fails the test:

    ok +%fs.grep(*.value != 0) == 0, 'provides 1:1 files in lib';

[2021-12-23 02:17] ohmycloud commented on #46
[3f1a9bd](https://github.com/tony-o/raku-fez/commit/3f1a9bdfad9cc8716c1ade7da4fcf331ef11e753) fixed `Failed to open file C:\Users\Márton\AppData\Roaming\fez\fez-config.json: No such file or directory`, but failed to install because `# Failed test 'provides 1:1 files in lib'`:

[code]

[2021-12-23 02:27] tony-o commented on #46
@ohmycloud right, I have a fix coming for the issue you're seeing but it's a different problem entirely

[2021-12-23 02:33] tony-o commented on #46
@ohmycloud next time please open a different ticket.  `fez:ver<34>` should fix the issue you're seeing in windows

[2021-12-23 02:57] #46 closed

[2021-12-23 03:58] ohmycloud commented on #46
works now, thanks

[2021-12-23 15:05] lizmat commented on #44
@bbkr I use `App::Mi6`, which now also has support for `fez`.  My release cycle is basically:

[code]
This takes care of creating a README from the pod, making sure there's an entry in the `Changes` file, testing, updating the `Changes` file with the release time, creating tar file, uploading to `fez`, committing, pushing and tagging on Github.  Works for me. :-)

[2022-01-04 18:58] JJ opened #51 "Error with `auth`"
Using this META6.json

[code]

There's no error when I upload, but then I get an email like this:

[code]

Any idea of what's the error?

[2022-01-19 17:05] tony-o commented on #51
@JJ by any chance is that META6.json not committed to the repo and just changed locally?  If fez is using the `git archive` then all of the files have to be committed to the repo

[2022-01-19 17:38] JJ commented on #51
At this point, I really don't remember... But could be, yes. I'll close, since I managed to fix that.

[2022-02-12 10:07] JJ commented on #51
Reopening, since another different distro is failing with this:

[code]

This is a bit disconcerting.

[2022-02-15 16:01] p6steve opened #52 "Broken zef install"
When I go ```zef install -v Physics::Navigation``` I get a failing test on the Physics::Measure dependency.

After some time digging around, it seems that ```zef install Physics::Measure``` is loading v.1.0.4 instead of latest v1.0.5

On raku.land, I see that https://raku.land/github:p6steve/Physics::Measure now shows an error:

_The uploading author of github:p6steve does not match the META autho

[2022-02-17 12:31] p6steve commented on #52
I tried this _should I always manually fez a new release, then?_ and it worked - question asked, question answered!!

[2022-02-17 12:31] #52 closed

[2022-02-21 12:38] jonathanstowe opened #53 "Document the API?"
Hi,
is there any chance that the underlying HTTP API could be documented somewhere for the benefit of those wanting to integrate the upload into their own tools?  Obviously one could reverse engineer it from the code, but a canonical specification would be useful.

[2022-02-21 21:29] tony-o commented on #51
@JJ can you verify that the other distro has latest fez?

[2022-03-03 22:22] vrurg opened #54 "After accepting a group invitation fez doesn't allow uploading with group credentials"
The error message I get with `checkbuild` is:

[code]

The config file has this entry:

[code]

The bug is in the following line in `Fez::CLI`:

[code]

It tries to match a string with group name from `auth` key with a hash of group information. I.e., after adding a debug print here is what I see:

[code]

[2022-03-04 19:01] tony-o commented on #54
Thank you for the PR - approved

[2022-04-02 02:51] dontlaugh opened #56 "Installation instructions?"
Is there a way to install this with zef?

[2022-04-03 15:38] finanalyst commented on #51
similar to the above. I registered with fez with 'finanalyst' as my auth name. But in my github repo's I tend to use 'github:finanalyst' (because I was copying something I saw in other distributions).
When I tried uploading a module, I only got 'Hey! you did it...' without the name of the Module.
`fez list` does not produce any results. I wonder if the problem is a mismatch between the auth string

[2022-04-03 16:50] finanalyst opened #58 "Can't get fez to upload"
I used `zef install fez`, then registered.
I went to the root directory of a Module. It has a META6.json file that passes the meta-file test.
Here is the command line history:
[code]
The Module does not get listed.

I would like to check what meta data is listed for me. There does not seem to be a function for that.
Also no function for detemining whether I have logged into fez.

Regards,
Richard

[2022-04-20 15:10] coke opened #59 "Questions regarding https on site"
Should we consider requiring an HTTPS connection to access 360.zef.pm?

When connecting to the secure site, should we consider requiring a high TLS minimum version? (Looks like 1 is supported, I think minimum recommended version lately is 1.2)

[2022-05-23 16:36] tony-o commented on #56
@dontlaugh added with b8c35c8ec189ad2054a6c56c4806418e53d49ffd

[2022-05-23 16:36] #56 closed

[2022-05-23 16:38] tony-o commented on #59
We probably should, that functionality does already exist but it needs to be updated in zef rather than fez (zef's config is what controls whether you're retrieving via https/http)

[2022-05-23 16:48] tony-o commented on #58
Hi Richard, are you receiving an email from fez when it fails?

Please open separate tickets for separate issues in the future, there isn't a way to get it directly from fez (since fez isn't the system of truth) but this could be easily added to the `meta` command.  For the moment please use `curl -s 360.zef.pm/meta.json | jq '."zef:finanalyst"'`

[2022-05-23 17:15] #54 closed

[2022-05-23 17:25] tony-o commented on #51
You can have a free auth field, just not with this ecosystem.  I can't reasonably say that you're getting `ugexe`'s modules if _anything_ is allowed as the auth.  Your issue is separate from finanalyst's.  Yours is using the git archive command and it only uses what is committed to the repo, finanalyst's looks like it's falling back to tar. His is actually uploading to the eco and then something i

[2022-05-23 17:32] #44 closed

[2022-05-28 02:10] Leont opened #60 "Unauthenticated list is confusing"
When I typed `fez list`, I got this error:
[code]
Turns out I wasn't logged in. Nothing in this error hinted at that though.

[2022-06-03 00:48] #59 closed

[2022-06-13 18:37] finanalyst commented on #58
@tony-o I only managed to get back Raku things after several weeks.
I have got the module to upload (CWT-Repository-Hash).
The problem was in the META6.json file.
I initially named the repository with a full name for CWT (Cro::WebApp::Template), but it was
too long. After renaming, I did not change the git addresses. So there was no way for fez to find the module from the git source string.

Sugge

[2022-07-31 10:09] finanalyst opened #61 "Module is reported uploaded, but isn't"
My module on github [Collection-Raku-Documentation](https://github.com/finanalyst/collection-raku-documentation.git) passes all tests on `github/workflows` and will install correctly locally using `zef install .`.
Using fez, I get
[code]
The module is not listed.
So I tried `fez checkbuild` and get
[code]
BUT
[code]
Placing an executable in the `bin/` directory and referencing it in the `resources

[2022-09-23 12:10] coke opened #62 "checkbuild doesn't complain about duplicate META6.json keys"
https://github.com/coke/raku-zef-deps/blob/221ce84cd8c4c89b61c305a93c93308e1ee6c1e2/META6.json

has two copies of `test-depends`

[2022-09-30 15:18] tony-o commented on #61
Hi @finanalyst i believe i've fixed a bug that is causing this issue you're seeing with forcing the upload and then never seeing it in the index.

The second issue you're seeing (with `checkbuild`) is something I'll take a look at today -

[2022-09-30 17:53] finanalyst commented on #61
Tony,
After some fiddling, the problem seems to have been with my use of
resources/. I was putting executables in bin/ , eg bin/Extractor, where
Extractor is an executable. But I was also including "bin/Extractor" in the
resources field of META6.json
Previously I hadn't seen a "bin" field in Meta6.
So checkbuild was searching somewhere for bin/Extractor and not finding it.
The error message from c

[2022-10-03 20:28] vrurg opened #63 "Prohibit uploading of a distribution"
For a private distribution, no intended for publishing, it would be great to have a way to ever prohibit it been accidentally uploaded to the ecosystem. It doesn't really matter which way this is done: by a flag-file in distribution directory (say, `.fez/noupload`), by a distro-local fez configuration file with corresponding option, or by considering a special key in META6.

[2022-10-16 01:01] masukomi opened #64 "[pax bug] Upload anyway doesn't honor N"
Answering N to "Upload anyway" should stop the process, but it just re-asks the question.

treeish of commit under test is dbbdf7d6f877e4e5390016f3fd953a35b419c05c

[code]

[2022-10-18 22:05] tony-o commented on #38
@andinus can you checkout the `pax` branch and see if this resolves the issue for you?

[2022-10-23 07:37] JJ opened #65 "Looks like it's down for the time being"
[code]

[2022-10-26 10:50] andinus commented on #38
It works! Thanks!

[code]

[2022-10-26 10:52] andinus commented on #38
However, it does not remove "sdist/" directory, is that intended behavior?

[2022-11-01 15:42] tony-o commented on #65
AWS was having some issues and I haven't seen anything since - closing

[2022-11-01 15:42] #65 closed

[2022-11-01 15:46] tony-o commented on #62
Hmm, I'm going to add this as a feature request.  That json is valid even though it contains duplicate keys, it requires a custom parser to detect as the internal json parser is unbothered by it, following is the dump from the rakudo json parser:

[code]

[2022-11-01 15:47] tony-o commented on #61
@finanalyst ahh good findings, i'll add some better info to the check build

[2022-11-01 15:54] tony-o commented on #60
Better messaging coming in v38 -

[2022-11-01 15:55] tony-o commented on #38
Okay - this is coming in v38

[2022-11-01 16:43] tony-o commented on #63
@vrurg i'm hesitant to make more file clutter in repos with all of the CI and other garbage we put in them now.  I like the idea of a key in the META and have mulling over how to enable private repositories for people and think it's doable with the current infrastructure.  I've been chatting with @ugexe on how we can enable that for a wider audience and i think it'll eventually just be some META k

[2022-11-01 16:55] ugexe commented on #63
I'm not sure I'm a fan of it being in the META6.json. The relevant bit of information is only ever relevant to whomever authors a given distribution, yet all consumers will end up repeatedly (de)serializing that data during various stages of a module querying / installation / loading lifecycle. I'm not against extra data being stored in META6.json, but I think my feeling is the data in that file s

[2022-11-01 21:48] finanalyst opened #66 "Uploading but not listing (not #61)"
I have several related distributions but most users will not want them all. So I have
- Collection-Plugin-Development
- Collection

I have uploaded Collection, and `fez list Collection` shows all the versions.

I tried to upload Collection-Plugin-Development. I used `fez checkbuild`, all correct. I then ran 'fez upload`, got the 'Hey you did it' response. Later I tried `fez list`, but Collection-P

[2022-11-02 02:42] tony-o commented on #66
@finanalyst can you point me to the module you're trying to upload?

[2022-11-02 06:47] JJ commented on #65
Thanks!

[2022-11-02 09:19] finanalyst commented on #66
https://github.com/finanalyst/collection-plugin-development.git

[2022-11-02 16:51] andinus commented on #38
Tested on OpenBSD 7.2, works!

Thank you :)

[2022-11-02 16:51] #38 closed

[2022-11-02 21:01] tony-o commented on #66
@finanalyst if you're on liberanet can you ping me  `tony-o`?  if not, can you upload it again and note the time, i just enabled extended logging so i should be able to see it

[2022-11-02 21:39] finanalyst commented on #66
I'll do this tomorrow morning. I'm in UK. about 9am

On Wed, 2 Nov 2022, 21:01 tony-o, ***@***.***> wrote:

[2022-11-04 10:21] finanalyst commented on #66
I was working on reproducing the error, and now upload succeeds. I did not change anything from the last time I tried.

So, currently, fez is working as I would expect. Either you have fixed the issue, or extra logging has cured it.

Closing this issue.

[2022-11-04 10:21] #66 closed

[2022-11-07 00:26] tony-o commented on #66
@finanalyst i'll leave the extended logging enabled, if this happens again (you're not the only one reporting this issue) then please note the time within a couple of minutes of the upload so I might be able to see something.  I'm having a lot of trouble reproducing this issue atm.

Tony

[2022-11-15 16:38] #64 closed

[2022-11-15 16:38] #60 closed

[2022-11-15 16:38] #51 closed

[2022-11-17 14:44] coke opened #67 "raku warnings on `fez list`"
[code]

[2022-11-22 00:31] melezhik opened #68 "Can't install fez (on SparrowCI)"
I have this error, trying installing fez:
[code]

full log is here - https://ci.sparrowhub.io/report/1862

[2022-11-22 01:51] melezhik commented on #68
looks like this is not the issue for debian - https://ci.sparrowhub.io/report/1864 , only happens on alpine

[2022-11-22 16:16] melezhik opened #69 "fez upload hangs when tty is not open"
Hi @tony-o , my guess is that `fez upload` does not work on docker containers that started without open tty, at least on SparrowCI `fez upload` just hangs - please see this report - https://ci.sparrowhub.io/report/1865
Fez configuration file is successfully installed before that step ...

[2022-11-23 14:00] patrickbkr opened #70 "Check depends for validity"
DateTime::Timezones:ver<0.4.1> has the following line in its [META6.json](https://github.com/alabamenhu/DateTimeTimezones/blob/fd2d7105a2ef45000b0bf1ccb9b0b7ce09bf004b/META6.json#L25):

    "depends": [ "Timezones::ZoneInfo:auth:<zef:guifa>:ver<0.4.1+>"],

Notice the extra `:` after `auth`. If I interpret my observations correctly, that dependency is ignored by zef without any notice.

It would be

[2022-11-23 14:26] patrickbkr opened #71 "README has test stuff in it"
Just a quick note that the README still has the temporary pax branch notes in it.

[2022-11-24 02:59] melezhik commented on #69
look like my key is not properly installed:

[code]

so fez upload hangs on username ...

[2022-11-24 03:03] melezhik commented on #69
not a fez issue

[2022-11-24 03:03] #69 closed, assigned to nobody